$footer_height:   60px

html
  position: relative
  min-height: 100%
body
  /* Margin bottom by footer height */
  margin-bottom: $footer_height
  padding: 0
  nav
    margin-bottom: 0.5rem

.push
  padding-bottom: 3rem

.footer
  position: absolute
  padding-top: 0.5rem
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: $footer_height
  background-color: #f5f5f5
  p
    margin-top: 10px

ol.subteams
  margin-bottom: 1rem
  margin-top: 1.8rem
  padding-left: 2rem
  li
    font-size: 1.8rem
    line-height: 2rem
    margin-bottom: 1.3rem



h1
  /*@extend .gel-canon*/
  font-size: 5rem
  line-height: 5.2rem
  font-weight: bold
  margin-top: 2rem

h2
  font-size: 2.5rem
  //margin-top: 4rem
  /*@extend .gel-trafalgar*/

/* Use a narrower grid */
@media (min-width: 1200px)
  .container
    max-width: 970px

@media(min-width: 800px)
  .navbar-brand
    padding: 15px 15px 0 0
@media(max-width: 800px)
  h1
    font-size: 3rem
    line-height: 3.5rem
  h3
    font-size: 1.8rem
  h2
    font-size: 2.5rem


.auth_nav
  margin-bottom: 1rem
  clear: both

@import "gel_typography.min"

.nav
  li a
    color: #333
    font-weight: bold
    border-bottom: 3px solid #f8f8f8
  .active a
    border-bottom: 3px solid #e7e7e7
.nav li a:hover
  border-bottom: 3px solid #900

ul
  padding: 0
  li
    list-style-type: none
    /*@extend .gel-double-pica*/
    line-height: 2.5rem

.form-group p.label
  display: block
  text-align: left
  margin-top: 7.5px
  font-size: 14px

.alpha-banner
  background: #fe2
  p
    font-size: 12px
    color: #333
    display: block
    margin-top: 7.5px

aside
  border-top: 10px solid #06a
  margin-top: 10px
  h2
    margin-top: 1rem
  ul
    li
      font-size: 1.6rem
      list-style-type: none
