@import "mixins"

ol.goal
  margin-bottom: 1rem
  margin-top: 1.8rem
  padding-left: 3rem
  li
    font-size: 2rem
    line-height: 2.8rem
    clear: both
    margin-bottom: 1rem
    .goal_col
      width: 100%
      display: inline-flex
      margin-bottom: 0
    .key_result, .sub_goals
      font-size: 1.5rem
      margin-bottom: 5rem
      .status
        padding: 0
        margin-bottom: 1rem
        font-size: 1.6rem
        line-height: 2.1rem
        margin-bottom: 1rem

  a.kr_toggle
    font-size: 1.2rem
    margin-top: 0.6rem
    margin-bottom: 2.5rem

.overlay
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,255,255,1))
    display: block
    content: ''
    height: 80%
    left: 0
    bottom: 0
    position: absolute
    width: 100%


.row.score
  padding-top: 2rem
  padding-bottom: 2rem


.favs
  .hint
    font-size: .8rem
    line-height: 1rem
    margin-bottom: 0.2rem

.big_goal_meta
  h3.reason
    margin-top: 0
    line-height: 2.5rem
  h4
    font-weight: bold
    margin-top: 1.2rem
    margin-bottom: 0.3rem
  p
    margin-top: 0.5rem
    font-size: 1.8rem
  .hint
    font-size: 1.2rem
  .big_status
    color: #fff
    padding: 4rem
    text-align: center
    cursor: pointer
    h3
      font-size: 4rem
      margin: 2.5px 0 0 0
      padding: 0
    h4
      margin: 0

.related
  li
    border-top: 1px solid #bbb
    padding-top: 0.8rem
    padding-bottom: 0.8rem
    line-height: 2rem
    &:first-child
      margin-top: 1.2rem
  b.name
    margin-bottom: 1.2rem
    display: block

.tiny_status
  color: #FFF
  text-align: center
  font-size: 1.5rem
  @include vertical_center()
  p
    display: block
    margin: auto
    font-size: 2rem
    color: #fff

.sub_goals .tiny_status
  font-size: 1.2rem
  float: right


.progress_history
  .small
    color: #999


.hover
  &:hover
    background: #eee
    cursor: pointer
    a
      text-decoration: none
      &:hover
        color: #337ab7
